/* your styles go here */
.bottom-line{
	border-bottom: 2px gray solid;
}
.row-buffer{
	margin-bottom: 10px;
}

.img-publication{
	border-radius: 12px;
	max-height: 140px;
}
.img-project{
	max-width: 220px;
}