/* your styles go here */
.bottom-line{
	border-bottom: 2px gray solid;
}
.bottom-dotted-divider{
	border-bottom: 2px gray dotted;
}
.row-buffer{
	margin-bottom: 10px;
	margin-top:10px;
}

.img-publication{
	border-radius: 12px;
	max-height: 140px;
}
.img-project{
	max-width: 220px;
}
img {
    image-orientation: from-image;
}
.super-paragraph{
	font-size: 30px;
    font-weight: 300;
}
.front-page{
	margin: 0 auto;
	min-height: 300px;
}
.img-member{
	margin-bottom:10px;
}
.h2{
	margin-bottom:20px;
}

.text-stand-out{
	font-weight:900;
	text-shadow: 0px 0px 5px #000;
}